html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    perspective: 1200px;
    background-color: #050505;
    color: #e0e0e0;
    overflow: hidden;
    font-family: "Courier New", Courier, monospace;
}


#page {
    width: 100%;
    height: 100%;
    transform-origin: center bottom;
    overflow-y: auto;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

#container {
    cursor: pointer;
    overflow: hidden;
}
