* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    color: #0f0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

#terminal {
    height: 100vh;
    padding: 10px;
    overflow-y: auto;
    padding-bottom: 2rem;
}

#output p {
    margin-bottom: 5px;
    white-space: pre-wrap;
}

#input-line {
    display: flex;
    align-items: center;
}

.prompt {
    margin-right: 10px;
    color: #f00;
}

.executed {
    color: yellow;
}

#input {
    background-color: transparent;
    border: none;
    color: yellow;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    width: 100%;
    outline: none;
}

a {
    color: #0ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.error {
    color: #f00;
}

.success {
    color: #0f0;
}

.system {
    color: #ff0;
}

.dim {
    color: #888;
}

@keyframes rainbow {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
        text-shadow: 0 0 10px #0f0;
    }
}

.god-mode {
    animation: rainbow 2s linear infinite;
}

img {
    cursor: pointer;
}

.matrix {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    pointer-events: none;
    opacity: 0.8;
}

.vim {
    height: 100vh;
    background-color: #111;
    color: #ccc;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    padding: 5px;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}